.spinners-container {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.spinner {
  animation: rotate 2s linear infinite;
  width: 70px;
  height: 70px;
  margin: auto;
}

.path {
  stroke: hsl(0, 0%, 100%);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@media screen and (max-width: 600px) {
  .spinner {
    width: 47px;
    height: 47px;
  }
}
